.center {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex > div {
    width: 50%;
}

.imgMain {
    height: 20%;
    width: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hoverable:not(:hover) + .show-on-hover {
    display: none;
}

.imgMain:hover {
    opacity: 0.3;
}

.learnMore {
    display: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;  
}

.learnMore:hover {
    display: block;
}

.imgButton {
    text-align: center;
}

.imgButton:hover .learnMore {
    display: block;
}